<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boleto</title>
    <style>
        body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        }

        .cover {
        background-color: #f2f2f2;
        padding: 20px;
        text-align: center;
        }

        .content {
        padding: 20px;
        border: 1px solid black;
        }

    </style>
</head>
<body>
    <button onclick="imprimirTela()">Imprimir</button>
  <div class="cover">
    <!-- Conteúdo da capa aqui -->
    <h1>Boleto</h1>
    <p>Número do Boleto: <%= c.cpf %></p>
  </div>
    <% 
    const mes = c.mes;
    for (var i = 0; i < mes; i++) {%>
        <% if (c.tipo === "capa") { %>
            <div class="content">
            </div>
        <% } else { %>
            <div class="content">
                <!-- Conteúdo do boleto aqui -->
                <% if (c.tipo === "preenchido") { %>
                    <p>Nome do cliente: <%=c.nome%></p>
                <% } else if (c.tipo === "branco") { %>
                    <p>Nome do cliente: ></p>
                <% } %>
                <p>Valor: R$ 100,00</p>
            </div>
        <% } %>
    <% } %>
    <script>
        function imprimirTela() {
          window.print(); 
        }
      </script>
</body>
</html>
